* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #9b5bd7;
}

html {
    font-size: 20px;
    font-family: sans-serif;
}

p  {
    background-color: rgb(194, 153, 211);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor:pointer;
    
}
.container{
    display: flex;
    margin: auto;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap:30px
}

.head {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.head h1{
    font-size: 1.5rem;
    text-align: center;
}

#input-field {
    height: 40px;
}

.btn {
    width: 165px;
    background: blueviolet;
    border-radius: 10px;
    font-weight: bold;
    height: 30px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    height: fit-content;
    text-align: center;
}

.box h2 {
    text-transform: capitalize;
    font-size: 1.2rem;
}

